<section class="materiales">
  <div class="container">
    <h2 class="materiales__titulo">Descubre los Materiales Educativos</h2>

    <div class="materiales__grid">
      <a
        href="https://telesecundaria.sep.gob.mx/#/MaterialesE/Inicio/(Secc:MaterialesA)"
        target="_blank"
        class="materiales__card"
      >
        <img src="images/primerGrado.png" alt="Primer Grado" />
        <p>1° Grado</p>
      </a>

      <a
        href="https://telesecundaria.sep.gob.mx/#/MaterialesE2/Inicio/(Secc:Libros)"
        target="_blank"
        class="materiales__card"
      >
        <img src="images/segundoGrado.png" alt="Segundo Grado" />
        <p>2° Grado</p>
      </a>

      <a
        href="https://telesecundaria.sep.gob.mx/#/MaterialesE3/Inicio/(Secc:Libros)"
        target="_blank"
        class="materiales__card"
      >
        <img src="images/tercerGrado.png" alt="Tercer Grado" />
        <p>3° Grado</p>
      </a>
    </div>
  </div>
</section>
