<section class="materiales">
  <div class="container">
    <h2 class="materiales__titulo">Descubre los Materiales Educativos</h2>

    <div class="materiales__grid">
      <div class="materiales__card">
        <img src="images/primerGrado.png" alt="Primer Grado" />
        <p>1° Grado</p>
      </div>

      <div class="materiales__card">
        <img src="images/segundoGrado.png" alt="Segundo Grado" />
        <p>2° Grado</p>
      </div>

      <div class="materiales__card">
        <img src="images/tercerGrado.png" alt="Tercer Grado" />
        <p>3° Grado</p>
      </div>
    </div>
  </div>
</section>
