<div class="pantalla-split-auth">
  <div class="panel-marca-izquierdo">
    <div class="contenedor-logo-blanco">
      <img
        src="images/logo-telesecundaria.png"
        alt="Logo Telesecundaria"
        class="logo-institucional"
      />
    </div>
    <h1 class="titulo-marca">RECUPERACIÓN</h1>
    <p class="descripcion-marca">
      No te preocupes, introduce tu correo electrónico institucional para restablecer tu cuenta.
    </p>
    <div class="chip-informativo">Acceso Seguro</div>
  </div>

  <div class="panel-formulario-derecho">
    <div class="contenedor-recuperar">
      <img src="images/logo-telesecundaria.png" alt="Logo Telesecundaria" class="logo-movil" />

      <h1 class="titulo-pantalla">RECUPERAR ACCESO</h1>
      <p class="subtitulo-pasos">Te enviaremos un enlace para cambiar tu contraseña</p>

      <form>
        <div class="campo">
          <label>Correo electrónico registrado</label>
          <input type="email" placeholder="correo@gmail.com" />
        </div>

        <div class="bloque-botones-vertical">
          <button type="submit" class="btn-primario-grande">Enviar enlace</button>
        </div>
      </form>

      <div class="enlace-login-inferior">
        ¿Recordaste tus datos?
        <strong style="cursor: pointer" (click)="irALogin()">Regresar al login</strong>
      </div>
    </div>
  </div>
</div>
